.container {
    margin: 0 auto;
    color: white;
    background-color: #242424;
}

.search-bar {
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 55%;
}

.search-bar label {
    width: 200px;
    margin-top: 5px;
    font-size: 1.3rem;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #242424;
    font-size: 16px;
    outline: none;
}

.city-section-popular {
    margin: 40px 0;
    width: 55%;
    margin: auto;
}

.city-section-popular h2 {
    margin-bottom: 10px;
}

.city-section-favorites {
    width: 55%;
    margin: auto;
}

.city-section-favorites h2 {
    margin-top: 100px;
}

.city-table {
    width: 100%;
    border-collapse: collapse;
}

.city-table th, .city-table td {
    color: white;
    border-bottom: 2px solid;
    padding: 30px 0;
    text-align: left;
    color: white;
}

/** MEDIA QUERIES **/

@media (max-width: 1200px) {
    .search-bar input {
        width: 60%;
    }
}

@media (max-width: 750px) {
    .city-section-popular {
        margin: 40px 0;
        width: 70%;
        margin: auto;
    }

    .search-bar {
        width: 70%;
    }

    .search-bar input {
        font-size: 14px;
    }
    
    .search-bar label {
        font-size: 1rem;
    }

    .city-section h2 {
        font-size: 1.2rem;
    }

    .city-table th, .city-table td {
        font-size: 0.8rem;
    }

    .city-section-favorites {
        width: 70%;
    }
}

@media(max-width: 600px) {
    .search-bar input {
        font-size: 14px;
    }

    .search-bar label {
        font-size: 1rem;
    }

    .city-section h2 {
        font-size: 1.2rem;
    }
}